In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import psycopg2 as pg
import plotly.express as px
import plotly
import kaleido

In [85]:
conn  = pg.connect(host='hyperlogic.cluster-cayqdanayilo.ap-northeast-2.rds.amazonaws.com',port='5432',dbname='school_safety',user='postgres',password='6408')
df = pd.read_sql('select * from newcode."학교_우편번호"',conn)
conn.close()

In [ ]:
from selenium import webdriver
import time
    
driver = webdriver.Chrome(executable_path='chromedriver')
driver.get(url='https://www.epost.go.kr/search.RetrieveIntegrationNewZipCdList.comm')
for addr in tmpdf['주소'] :
    if addr == '없음' : continue
    try :
        search = driver.find_element_by_id('keyword')
        search.clear()
        search.send_keys(addr)
        submit = driver.find_element_by_id('btnZipSearch')
        submit.click()
        zipcode = driver.find_element_by_xpath('//*[@id="body_layout"]/div/div[1]/div[2]/div/div/div/div/table/tbody/tr[1]/th')
        tmpdf.loc[tmpdf['주소']==addr,'ZIPCODE'] = zipcode.get_attribute('innerText')
    except :
        continue
#     time.sleep(5)
driver.close()
tmpdf['ZIPCODE']

In [96]:
driver = webdriver.Chrome(executable_path='chromedriver')
driver.get(url='https://www.epost.go.kr/search.RetrieveIntegrationNewZipCdList.comm')

In [97]:
from selenium import webdriver
import time
for i in range(len(df)):
    if len(df.loc[i]['우편번호']) ==6 :
        try :
            search = driver.find_element_by_id('keyword')
            search.clear()
            tmp = df.loc[i]['주소'].split()
            search.send_keys(tmp[0]+' '+tmp[1]+' '+tmp[2])
            submit = driver.find_element_by_id('btnZipSearch')
            submit.click()
            zipcode = driver.find_element_by_xpath('//*[@id="body_layout"]/div/div[1]/div[2]/div/div/div/div/table/tbody/tr[1]/th')
            df.loc[i,'우편번호'] = zipcode.get_attribute('innerText')
        except :
            continue
driver.close()
df['우편번호']

0       04117
1       03905
2       03735
3       07634
4       03342
        ...
2485    33487
2486    12426
2487    12457
2488    12716
2489
Name: 우편번호, Length: 2490, dtype: object

In [100]:
count = 0
for i in range(len(df)):
    if len(df.loc[i]['우편번호']) ==6 :
        count +=1
        print(df.loc[i]['학교이름'],df.loc[i]['주소'])
print(count)

덕원여자고등학교 서울 강서구 내발산1동 덕원여자고등학교  산59-2
명덕고등학교 서울 강서구 내발산1동 명덕고등학교 169-1
배명고등학교 서울 송파구 삼학사길 130
충암고등학교 서울 은평구 응암4동  산9-1
홍익대학교사범대학부속고등학교 서울 성북구 성북1동  151 홍익대학교사범대학부속고등학교
휘문고등학교 서울 강남구 대치3동  952-1
광운전자공업고등학교 서울 노원구 월계4동  500번지
미림여자정보과학고등학교 서울 관악구 신림9동  1557-1
해성여자중학교 서울 동대문구 전농3동  90-3
서울면동초등학교 서울 중랑구 면목1동  551
서울면중초등학교 서울 중랑구 면목3동  491-1
서울공덕초등학교 서울 마포구 공덕2동  256-4
서울연신초등학교 서울 은평구 불광3동  73-1
서울영일초등학교 서울 구로구 가리봉2동  17번지 영일초등학교
성지유치원 서울 영등포구 영등포본동 영등포푸르지오아파트 647번지
서울당현초등학교 서울 노원구 당현1길 26(상계6동 742)
서울중원초등학교 서울 노원구 중계2동  502번지
서울상경초등학교병설유치원 서울 노원구 수락산길 237
서울남산초등학교 서울 중구 퇴계로길 22길 17
서울청구초등학교 서울 중구 신당4동  330-2
서울장충유치원 서울 중구 신당2동  386번지
근화유치원 서울 중구 신당2동  406-4 3층 근화유치원
덕원중학교 서울 강서구 내발산1동 덕원중학교 산59-2
서울송화초등학교 서울시 강서구 송화초길2(방화1동 240-6))
서울신월초등학교 서울 강서구 화곡7동  1080번지
서울경인유치원 서울 양천구 목6동  911-4
서울개포초등학교 서울특별시 강남구 영동대로3길 45  서울개포초등학교
서울신동초등학교 서울특별시 서초구 나루터길 72 (잠원동 54-5)
서울양전초등학교 서울 강남구 개포3동
서울언북초등학교 서울 강남구 청담2동  27번지
푸른유치원 서울 강남구 일원본동  719번지 푸른단지내 푸른유치원
난우중학교 서울 관악구 신림13동  652-156
남서울중학교 서울 관악구 신림11동  1690-3
서울은로초등학교병설유치원 서울 동작구 흑석1동 245-1
봉원중학교 서울 관악구 봉천6동  25-19
서울신우유치원 서울 관악구 신림10동  315번지
나랑유치원 서울 관악구 봉천본동  1708번지 두산아파트 단지내
성도유치원 서울특별시 관악구 서림동98-344
소슬유치원 서울 관악구 봉천5동  480-36
서울경동초등학교 서울 성동구 성수1로 34
서울구의초등학교병설유치원 서울 광진구 모진동  3-9
대익둥지유치원 서울 성동구 하왕십리2동  972-34
정신유치원 서울 광진구 노유1동   843-11 정신유치원
창문여자중학교 서울특별시 강북구 월계로61(미아동8-16) 창문여자중학교
서울삼양초등학교 서울 강북구 미아2동  791-1932
영훈초등학교 서울 강북구 미아5동 영훈초등학교
삼각산중학교 서울 강북구 미아6동   1357-11
재한몽골학교 서울 광진구 광장로1(광장동 401-17)
48

In [101]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:6408@hyperlogic.cluster-cayqdanayilo.ap-northeast-2.rds.amazonaws.com:5432/school_safety')
df.to_sql('학교_우편번호',engine,schema='newcode',if_exists='replace')